body {
  background-color: #00101f;
  margin: 0;
  font-family: "Lato";
  color: white;
  font-weight: 300;
  letter-spacing: 0.022em;
}
html {
  scroll-behavior: smooth;
}

/* /////////////////////////////////
/* //Top of Page 
/* ///////////////////////////////// */
.image-text {
  font-weight: 300;
  letter-spacing: 0.022em;
  text-align: center;
  font-size: 130%;
  color: aquamarine;
}

.img-background-container {
  display: flex;
  position: relative;
}

.image-background {
  width: 100%;
  height: 100%;
}

.image-profile {
  width: 200px;
}

/* /////////////////////////////////
/* //Top of Page - icon links
/* ///////////////////////////////// */
.icon_container {
  padding-left: 65px;
  display: flex;
  flex-direction: row;
  font-size: 30px;
}
.icon_container > .icon {
  padding-right: 30px;
}

.fa-github-square {
  color: #091555;
}
.fa-github-square:hover {
  color: white;
}
.fa-envelope {
  color: #091555;
}
.fa-envelope:hover {
  color: white;
}
.fa-linkedin {
  color: #091555;
}
.fa-linkedin:hover {
  color: white;
}
/*End icon links*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.022em;
  color: #091555;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
nav a:hover {
  color: white;
}
main {
  margin-left: 250px;
}
.navbar {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-family: "Lato";
}

.page-layout {
  display: flex;
  padding-left: 250px;
}

.info {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 235px;
  left: 410px;
}

/* /////////////////////////////////
/* //All text  
/* ///////////////////////////////// */
.content {
  font-weight: 300;
  color: white;
  text-align: left;
  padding-bottom: 30px;
  padding-left: 20px;
  letter-spacing: 0.022em;
}

/* /////////////////////////////////
/* //Resume button wrap
/* ///////////////////////////////// */
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  text-align: center;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* default button */
.button {
  color: aquamarine;
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: bolder;
  font-family: "Lato";
  line-height: 45px;
  margin: 0 0 0;
  max-width: 180px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

/* /////////////////////////////////
/* //Resume button  
/* ///////////////////////////////// */
.resume-button {
  background: #091555;
  font-weight: 100;
  text-align: center;
}
.resume-button svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.resume-button rect {
  fill: none;
  stroke: #091555;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}
.resume-button:hover {
  background: rgba(225, 51, 45, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.resume-button:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.button-container {
  padding-left: 45px;
}
/* end resume button*/

/* /////////////////////////////////
/* //Projects buttons
/* ///////////////////////////////// */
.btn {
  border: none;
  border-radius: 25px;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Icon separator */
.btn-sep {
  padding: 25px 60px 25px 120px;
}

.btn-sep:before {
  background: rgba(0, 0, 0, 0.15);
}

.btn-1 {
  background: aquamarine;
  color: #091555;
}

.btn-1:hover {
  background: rgb(66, 185, 146);
}

.btn-1:active {
  background: aquamarine;
  top: 2px;
}

.btn-1:before {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 65px;
  font-size: 45px;
  width: 60px;
}
/* End github button*/

/* /////////////////////////////////
/* //About me  
/* ///////////////////////////////// */
.img-background-container, .about-me, .projects, .codingSkills, .education{
  display: flex;
  flex-direction: column;
  padding-left: 275px;
}

.img-background-container {
  padding-bottom: 200px;
  max-width: 50em;
  margin: 0 auto;
}

/* /////////////////////////////////
/* //All titles
/* ///////////////////////////////// */
.title {
  color: white;
  font-size: 175%;
  font-weight: 300;
  letter-spacing: 0.022em;
  margin-bottom: 20px;
  margin-top: 20px;
}

.course-title {
  font-weight: 300;
  letter-spacing: 0.022em;
  color: aquamarine;
  font-size: 120%;
}

@media screen and (max-width: 780px) {
  .image-profile {
    
    /* width: 40vw;
    top: 30px;
    left: 30px;
    z-index: 0; */
  }
  .hideNav {
    display: none;
  }
  .page-layout {
    display: flex;
    padding-left: 0;
  }

  .info {
    display: flex;
    font-size: 12px;
    position: inherit;
    flex-direction: column;
    align-items: center;
  }

  .img-background-container, .about-me, .projects, .codingSkills, .education{
  padding-left: 5px;
}

  .img-background-container {
    padding-bottom: 50px;
    /* justify-content: center; */
    /* max-width: 50em;
    margin: 0 auto; */
  }
  .profile-pic {
    display: flex;   
  }
  .icon_container {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
  }
  .fa-github-square {
    color: #fe5c00;
  }
  .fa-github-square:hover {
    color: white;
  }
  .fa-envelope {
    color: #fe5c00;
  }
  .fa-envelope:hover {
    color: white;
  }
  .fa-linkedin {
    color: #fe5c00;
  }
  .fa-linkedin:hover {
    color: white;
  }

  .button-container {
    padding-left: 30px;
  }
  .button {
    appearance: none;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 90%;
    line-height: 1;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Lato";
    font-weight: 700;
  }
  .button:hover,
  .button:focus {
    outline: 0;
  }
  .resume-button {
    border-color: aquamarine;
    color: #091555;
    box-shadow: 0 0 40px 40px aquamarine inset, 0 0 0 0 aquamarine;
    transition: all 150ms ease-in-out;
  }
  .resume-button:hover {
    box-shadow: 0 0 10px 0 aquamarine inset, 0 0 10px 4px aquamarine;
  }
}
