.hamburgerMenu {
  display: none;
}

@media screen and (max-width: 780px) {
  .hamburgerMenu {
    display: block;
  }

  nav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  .navbar {
    display: none;
  }

  nav a {
    color: aquamarine;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  nav a.icon {
    background: #02011c;
    position: absolute;
    right: 0;
    top: 20px;
  }

  nav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
  /* nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 0.9em;
    font-weight: bold;

    color: #091555;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  } */

  #image-text {
    position: absolute;
    top: 100%;
    left: 15%;
    font-size: 65%;
    transform: translate(-30%, -30%);
  }
  #header-image img {
    width: 175%;
    margin: none;
    padding: none;
  }
  .content-container {
    max-width: 50em;
    padding: 1em 1em;
    margin: 0 auto;
  }
}
