body {
  background: url("../assets/img/tealbackground.jpg") no-repeat center center
    fixed;
  background-size: cover;
  margin: 0;
  font-family: "Helvetica";
  line-height: 1.5;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  font-family: Helvetica;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 0.9em;
  font-weight: bold;
  color: #091555;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
nav a:hover {
  color: white;
}
main {
  margin-left: 250px;
}
section {
  padding: 10px;
}
.navbar {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-family: "Helvetica";
}

#profile-pic {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 20%;
  margin: none;
  padding: none;
  transform: translate(-30%, -30%);
}

#header-image {
  position: relative;
}

#header-image img {
  width: 100%;
  margin: none;
  padding: none;
}

#image-text {
  position: absolute;
  top: 55%;
  left: 27%;
  font-family: "Helvetica";
  font-size: 150%;
  color: #091555;
  transform: translate(-30%, -30%);
  text-align: left;
}

.page_title {
  color: aquamarine;
  text-align: center;
  font-family: "Helvetica";
  font-size: 250%;
}

.title {
  color:#091555;
  font-size: 200%;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content-container {
  max-width: 50em;
  margin: 0 auto;
}

.content {
  color: white;
  font-size: medium;
  text-align: left;
  padding-bottom: 30px;
  letter-spacing: 0.01em;
}

.course-title {
  color: aquamarine;
  padding-left: 80px;
  font-size: 120%;
}
.download_button {
  color: #091555;
  font-weight: bold;
  background: aquamarine;
  font-size: 20px;
  border: 3px solid aquamarine;
  border-radius: 20px;
  width: 200px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
.download_button:hover {
  color: white;
}

.icon {
  font-size: 40px;
  position: absolute;
  top: 87%;
  left: 22%;
  margin: none;
  padding: none;
  transform: translate(-30%, -30%);
}
.fa-github-square {
  color: #091555;
}
.fa-github-square:hover {
  color: white;
}
.fa-envelope {
  color: #091555;
}
.fa-envelope:hover {
  color: white;
}
.fa-linkedin {
  color: #091555;
}
.fa-linkedin:hover {
  color: white;
}

#education {
  height: 600px;
  width: 600px;
  margin: 80px 40px 80px 40px;
}

#projects {
  height: 600px;
  width: 600px;
  margin: 80px 40px 80px 40px;
}

#codingSkills {
  height: 600px;
  width: 600px;
  margin: 80px 40px 80px 40px;
}
#home {
  height: 600px;
  width: 600px;
  margin: 80px 40px 80px 40px;
}
